:root {
    --text-primary-theme: #C90000;
    --seegreen: #00CCDB;
    --green: #08CC2F;
    --yellow: #FFC400;
    --grey: #BEB8B8;
    --black: #000;
    --white: #fff;
}

body {
    font-family: Qanelas;
    font-weight: 400;
}

.text-theme-primary {
    color: var(--text-primary-theme);

}

.bg-theme-primary {
    background-color: var(--text-primary-theme);

}

.primary-theme-button {
    background-color: aliceblue;
    border-radius: 50px;
    padding: 0 15px;
}

.secondary-theme-button {
    background-color: var(--text-primary-theme);
    color: #fff !important;
    border-radius: 0px;
    min-width: 150px;
    text-align: center;
    border: none;
}

.gap-15 {
    gap: 15px;
}

/* home page css */

.previous-image {
    width: 100%;
    height: 327px;
    overflow: hidden;
    transform: translateX(-300px);
    transition: 1s;
    opacity: 0;
}

.previous-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
}

.left-slide-content {
    background-image: linear-gradient(341deg, #333F49, #0a0d0f);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 45px;
}

.slide-content {
    color: #fff;
    padding: 25px 0;
}

.slide-heading {
    color: #fff;
    position: absolute;
    transform: rotate(-90deg);
    right: -190px;
    z-index: 999;
    overflow: hidden;
}

.slide-heading h3 {
    font-size: 105px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0;
    font-weight: 500;
    line-height: 1;
    opacity: 0;
}

.slide-heading h3:first-child {
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    transform: translateX(32pc);
}

.slide-heading h3:last-child {
    transform: translateX(-32pc);
}

.slick-active .slide-heading h3:last-child,
.slick-active .slide-heading h3:first-child,
.slick-active .previous-image {
    transform: translateX(0);
    transition: 2s;
    opacity: 1;
}



.banners .slick-arrow {
    position: absolute;
    z-index: 9999;
    bottom: 120px;
    width: 140px;
    background-color: transparent;
    border: none;
    color: #fff;
}

.banners button.slick-prev.slick-arrow {
    left: 0;
}

.banners button.slick-next.slick-arrow {
    left: 140px;
    border-left: 1px solid #fff;
}

.banners button.slick-prev.slick-arrow:before {
    content: '\f053';
    font-family: 'FontAwesome';
    position: relative;
    right: 10px;
}

.banners button.slick-next.slick-arrow:after {
    content: '\f054';
    font-family: 'FontAwesome';
    position: relative;
    left: 10px;
}

.banners .slick-dots {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
    top: 0;
    right: 10px;
}


.banners .slick-dots li {
    margin-bottom: 10px;
}


.banners .slick-dots>li.slick-active:not(:last-child)::after {
    content: '';
    width: 1px !important;
    background-color: #fff !important;
    height: 70px !important;
    position: absolute;
    top: 26px;
}


.banners li.slick-active:not(:last-child) {
    margin-bottom: 90px !important;
}

.slide-image {
    opacity: 0;
    transition: 2s;
}

.slick-active .slide-image {
    opacity: 1;
    transition: 2s;
}

.default::after {
    display: block;
    content: '';
    background-color: rgb(0 0 0 / 26%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    filter: blur(21px);
    z-index: -9;
}

header::after {
    display: none;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--text-primary-theme) !important;
}

.default .navbar-nav li>a,
.default .navbar-nav {
    color: #fff !important;
}


.f-14 {
    font-size: 14px;
}

.f-70 {
    font-weight: 600;
    font-size: calc(40px + 12 * ((100vw - 553px) / 540));
    line-height: 1;
}

header {
    z-index: 9999;
}

header:not(.guest-header) img {
    width: 85px;
    max-width: 100%;
}

header:not(.guest-header) {
    border-bottom: 1px solid #eee;
}


/* second section  */

.left-ad-area {
    height: 100%;
}

.left-ad-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70%;
}

.left-ad-image {
    height: 70%;
}

.best-partner-box {
    background-image: linear-gradient(119deg, #cf0909, #760000);
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}

.car-interior {
    height: 100%;
}

.car-interior img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-headlight {
    position: absolute;
    top: 65px;
    left: 55px;
    opacity: 0;
    transition: 3s;
}

.right-headlight {
    position: absolute;
    top: 65px;
    right: 55px;
    opacity: 0;
    transition: 3s;
}

img {
    max-width: 100%;
}

.used-car {
    background-image: url(../images/used-car.png);
    background-attachment: fixed;
    background-size: cover;

    position: relative;
    background-position: 100%;
}

.used-car::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000e8;
    top: 0;
    /* z-index: 9; */
}

section.used-car .row {
    z-index: 999;
    position: relative;
}

.avtive-featured-car {
    background-color: #272727;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    padding: 20px 0;
}

.feature-box img {
    width: 20px;
    margin-bottom: 5px;
}

.feature-box {
    color: #fff;
    font-size: 12px;
    width: 20%;
}

.car-featured {
    gap: 9px;
    padding: 0 20px;
}

.car-image {
    height: 350px;
    width: 100%;
    overflow: hidden;
}

.car-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 85px;
    transition: 1s;
}

.car-name {
    color: #fff;
}

.car-detail {
    padding: 0 20px;
}


.sell-featured-box {
    background-color: #272727;
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
    padding: 20px 0;
}

.h-200px {
    height: 200px;
}

.sell-featured-box h3 {
    font-size: 20px;
}

.sell-featured-box h6 {
    font-size: 14px;
}

.sell-featured-box .price-box {
    padding-right: 20px;
    font-weight: bold;
}

.sell-car-slides button.slick-arrow {
    position: absolute;
    bottom: -55px;
    background-color: transparent;
    color: #fff;
    border: none;
}

.sell-car-slides button.slick-next {
    right: 2%;
}

.sell-car-slides button.slick-prev {
    right: 15%;
}

.sell-car-slides button.slick-next.slick-arrow:after {
    content: '\f054';
    font-family: 'FontAwesome';
    position: relative;
    left: 10px;
}

.sell-car-slides button.slick-prev.slick-arrow:before {
    content: '\f053';
    font-family: 'FontAwesome';
    position: relative;
    right: 10px;
}

.whishlist-icon button {
    color: #878787;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.p-70 {
    padding: 70px 0;
}


.featureRibbon {
    color: #fff;
    --f: 8px;
    /* control the folded part*/
    --r: 15px;
    /* control the ribbon shape */
    --t: 0px;
    /* the top offset */
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 0 15px var(--f) calc(10px + var(--r));
    clip-path:
        polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%,
            calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)),
            var(--r) calc(50% - var(--f)/2));
    background: #db1225;
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
    left: -5px;
    right: unset;
    transform: rotate(180deg);
    position: relative;
}

.featureRibbon span {
    transform: rotate(180deg) !important;
    display: block;
    padding: 10px 0px;
}


.whislList button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #fff;
    color: red;
    border-radius: 50px;
    font-size: 18px;
}

.feature-image img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featureBox {
    padding: 15px;
    border: 1px solid #e9e9e9;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 15px;
    position: relative;
}

.adjust-image {
    height: 195px;
}

.adjust-image-owner {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
}

.additional-things {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 10px;
}

.whislList {
    padding-right: 10px;
    position: relative;
    z-index: 9999;
}

.icon-box img {
    width: 20px;
    height: 20px;
}

.viewMore {
    color: #39B8F1;
}


.featureAd {
    background-image: url(../images/pngegg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 107%;
    background-attachment: fixed;
    padding: 70px 0;
    background-position-y: bottom;
}

.adjust-image-owner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.owner-additional-things {
    position: absolute;
    right: 15px;
    top: 5px;
}

.private-owner-tab {
    border-radius: 20px;
    padding: 15px;
    background-color: #fff;
}

.privateOwner {
    background-image: url(../images/petBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 70px 0;
}

.testimonalSection {
    padding: 70px 0;
}

.f-40 {
    font-size: 38px;
    font-weight: 600;
}

.text-yellow {
    color: #FFBB00;
}

.testimonialBox {
    padding: 15px 20px;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    margin-bottom: 20px;
}

.author-image figure {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    overflow: hidden;
}

.author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-image: url(../images/footer-bg.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 30px 0;
    background-position: bottom;
}

.ls-2 {
    letter-spacing: 2.4px;
}

.f-60 {
    font-weight: 600;
    font-size: calc(30px + 12 * ((100vw - 553px) / 540));
    line-height: 1;
}

.front-image {
    position: absolute;
    left: -90px;
}

.footerMenu li a {
    color: #fff;
    font-size: 14px;
}

.blog-image {
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.newsletter-content input[type="email"] {
    width: 100%;
    height: 47px;
    padding: 15px;
    background-color: #fffdfd2e;
    color: #fff;
    border: none;
    outline: none;
}

.newsletter-content input[type="email"]::placeholder {
    color: #fff;
}

.tag span {
    padding: 6px 15px;
    border-radius: 10px;
}

.tag {
    padding-left: 15px;
}

.bg-red {
    background-color: red;
    color: #fff;
}

.bg-sold {
    background-color: #FE7AB6;
    color: #fff;
}


.editBtn {
    display: none;
}

.loginPopup {
    padding-bottom: 30px;
    padding-top: 5px;
    border-radius: 0;
}

.loginPopup .closebtn {
    position: relative;
    right: 20px;
}

.loginPopup .closebtn button {
    /* background-color: #fff; */
    /* box-shadow: 1px 0px 3px rgb(32 30 30 / 42%); */
    /* border-radius: 50px; */
    /* width: 30px; */
    /* height: 30px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 35px;
    /* color: #817d7d; */
    opacity: 1;
}

.auth-bg {
    background-image: url(../images/auth-bg.png);
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

/* login form css  */

.form-control {
    height: calc(2em + 0.75rem + 2px);
}

.form-area {
    background-color: #fffffff2;
    border-radius: 40px;
    border: 1px solid #f3f3f3;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: var(--grey);
    background-color: var(--grey);
}

input.code-input {
    display: inline-block;
    width: 24%;
    padding: 25px;
    border-radius: 10px;
    border: none;
    background-color: #e8e7e7;
    outline: none;
    margin-right: 0.1rem;
    text-align: center;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.password-box {
    position: relative;
}

.password-box button,
.search-btn {
    position: absolute;
    right: 10px;
    top: 20%;
    border: none;
    background-color: transparent;
}

.required {
    color: red;
}

.borderBtn {
    background-color: #fff;
    color: var(--text-primary-theme) !important;
    border: 1px solid var(--text-primary-theme);
}

.actionBtns button,
.actionBtns a {
    background-color: #f1f1f1;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.count {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: var(--text-primary-theme);
    border-radius: 50px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

.actionBtns {
    gap: 5px;
}

.avatar-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50px !important;
    display: block;
}

.avatar-image img {
    width: 100%;
    height: 100%;
}

.dropdown-list {
    list-style: none;
    padding: 0 10px;
}

.dropdown-list a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #787878;
    font-size: 14px;
}

.dropdown-list li:not(:last-child) {
    margin-bottom: 15px;
}

.avatar-box button {
    font-size: 16px;
    font-family: 'Qanelas';
}

.loginOption {
    border: none;
    border-radius: 20px;
    padding: 15px 5px;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.user-status {
    height: 12px;
    width: 12px;
    border-radius: 50px;
    position: absolute;
    bottom: -2px;
    background-color: #00ff37;
    right: 5px;
    border: 2px solid #fff;
}

/* filter  */

.filter-title {
    background-color: var(--text-primary-theme);
    padding: 10px 15px;
}

.filter-feilds {
    padding: 20px 15px;
}

.rounded-10 {
    border-radius: 10px;
    overflow: hidden;
}

.filter-label {
    margin-top: 40px;
    padding: 20px 0;
}

.form-range {
    width: 100%;
    height: 1.5rem;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-range:focus {
    outline: 0;
}

.form-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(86 43 45 / 47%);
}

.form-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgb(86 43 45 / 47%);
}

.form-range::-moz-focus-outer {
    border: 0;
}

.form-range::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -0.25rem;
    background-color: var(--text-primary-theme);
    border: 0;
    border-radius: 1rem;
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
}

@media (prefers-reduced-motion: reduce) {
    .form-range::-webkit-slider-thumb {
        -webkit-transition: none;
        transition: none;
    }
}

.form-range::-webkit-slider-thumb:active {
    background-color: var(--text-primary-theme)bd;
}

.form-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: #dee2e6;
    border-color: transparent;
    border-radius: 1rem;
}


.serachFiled {
    width: 200px;
}

.seachedFilter {
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #7070707d;
    border-radius: 0;
    box-shadow: none !important;
}

.seachedFilter .form-control {
    height: calc(1.7em + 0.75rem + 2px);
}

.f-18 {
    font-size: 20px;
}

.listing-box .featureBox {
    height: 100%;
}

.page-link {
    color: var(--text-primary-theme);
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--text-primary-theme);
    border-color: var(--text-primary-theme);
}

.listing-box .col-md-4 {
    margin-bottom: 20px;
}


.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
    border: none;
    border-bottom: 2px solid transparent;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--text-primary-theme);
}

.nav-tabs .nav-link {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    color: #000;
}

.shelter-banner figure {
    height: 330px;
    overflow: hidden;
}

.shelter-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-pet-grey {
    background-color: #FCFCFC;
    padding: 70px 0;
}

.p-70 {
    padding: 70px 0;
}

.gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery img {
    width: 115px;
    height: 115px;
    object-fit: cover;
    border-radius: 15px;
}

.uploadBtn {
    width: 115px;
    height: 115px;
    display: flex;
    border: 2px dashed #27aae1;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: aliceblue;
}

.uploadBtn button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 34px;
    color: #27AAE1;
}

/* product details  */

.product-slides .carousel-item {
    height: 500px;
    width: 100%;
    overflow: hidden !important;
}

.product-slides .carousel-item img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.rounded-arrow {
    background-color: #fff;
    color: #000;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 18px;
}

.op-1 {
    opacity: 1;
}

.car-products,
.sell-your-car {
    background-image: url(../images/trans-image.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.product-listing-box {
    position: relative;
    padding: 0 0 15px;
    transition: .5s;
    background-color: #fff;
}

.product-listing-header button {
    padding: 0;
    line-height: 1;
}


.product-listing-image img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.product-listing-box:hover {
    transform: scale(1.2) !important;
    transition: .5s;
    cursor: pointer;
}

.link-to a,
.link-to button {
    background-color: var(--text-primary-theme);
    padding: 10px 25px;
    color: #fff;
    border: 3px double transparent;
    transition: .5s;
    display: inline-block;
}

.link-to a:hover .link-to button:hover {
    background-color: #fff;
    color: var(--text-primary-theme);
    border-color: var(--text-primary-theme);
    text-decoration: none;
    transition: .5s;
}

/* compare section  */

.car-compare {
    background-image: url(../images/cpmpare.png);
    background-size: cover;
    background-attachment: fixed;
}

.input-group-field {
    display: flex;
    flex-shrink: 0;
    width: 145px;
    max-width: 100%;
    font-size: 14px;
    padding: 18px 0 !important;
}


.input-group-field button {
    font-size: 13px;
}

button.quantity-left-minus {
    border: none;
    border-radius: 15px 0px 0 15px;
}

input#quantity {
    width: 100%;
    text-align: center;
    overflow: hidden;
    border: 0;
    outline: none;
}

button.quantity-right-plus {
    border: none;
    border-radius: 0 15px 15px 0;
}

.product-short-desc {
    border-top: 2px dashed #dedede;
    padding-top: 25px;
    margin-top: 20px;
}

.grey-bar {
    width: 175px;
    height: 12px;
    background-color: #EFF0F5;
    position: relative;
}

.review-progress {
    background-color: #ffbb00;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-grey-light {
    color: #EFF0F5;
}

.gap-30 {
    gap: 60px;
}

.text-green {
    color: #4caf50;
}

.customer-reviews {
    border-top: 3px dashed #e7e1e1;
}

/* cart  */

.table td,
.table th {
    vertical-align: middle;
}

.table th {
    border-bottom: none !important;
}

.table tbody tr:last-child td {
    border-bottom: none !important;
}

.cart-image figure {
    width: 100%;
    height: 80px;
    overflow: hidden;
    border-radius: 8px;
}

.cart-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-theme-outline {
    border: 2px solid var(--text-primary-theme) !important;
    color: var(--text-primary-theme);
    transition: .5s;
}

.bg-theme-outline:hover {
    text-decoration: none;
    background-color: var(--text-primary-theme);
    color: #fff;
    transition: .5s;
}

.bg-adopt {
    background-color: #1277DC;
    color: #fff;
}

.bg-adopted {
    background-color: #5954F9;
    color: #fff;
}

.left-info {
    padding: 0;
    list-style: none;
    margin-top: 25px;
}

.left-info i {
    width: 35px;
    height: 35px;
    padding: 10px;
    font-size: 16px;
    border-radius: 9px;
    margin-right: 10px;
    text-align: center;
}

.left-info a {
    color: #787878;
}

.icon-red i {
    background-color: #ff000029;
    color: red;
}

.icon-blue i {
    background-color: #318eeb40;
    color: #318EEB;
}

.left-info li {
    margin-bottom: 15px;
}

.adjust-image-adopt {
    height: 395px;
}


.vertical-thubnail {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    height: 100px;
}

.vertical-thubnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thubnail-slide .slick-slide {
    width: 90% !important;
}

.thubnail-slide {
    height: 100%;
}

.variant-image {
    flex-shrink: 0;
}

.variant-text {
    flex-grow: 1;
}

.variant-box {
    padding: 15px 10px;
    background-color: #F6F6F6;
    border: 2px dashed #D9D9D9;
    border-radius: 10px;
}

.image-wrapper {
    width: 44px;
    height: 44px;
    text-align: center;
    background-color: var(--text-primary-theme)3d;
    padding: 8px;
    overflow: hidden;
    border-radius: 10px;
}

.tag-btn {
    border-radius: 10px;
    padding: 8px 25px;
    background-color: #9AAABB;
    color: #fff;
    cursor: pointer;
}

.mx-10 {
    margin: 0 10px;
}

/* ads listing  */

.ads-listing table tbody tr {
    background-color: rgb(191 191 192 / 8%);
}

.ads-listing table thead tr th:first-child,
.ads-listing table tbody tr th:first-child {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 25px;
}

.ads-listing table thead tr th:last-child,
.ads-listing table tbody tr td:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 25px;
}

.ads-listing table {
    border-collapse: separate;
    border-spacing: 0px 25px;
}

.text-theme-secondary {
    color: #5954F9;
}

/* ads details  */

.back-arrow {
    color: #000;
}

.listing-page,
.default-bg {
    background-color: #FCFCFC;
}

.back-page {
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 50px;
    border: 1px solid #f4f4f4;
}

.bg-inactive {
    background-color: #BBBBBB;
}

.bg-pending {
    background-color: #A79E09;
    color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--text-primary-theme);
}

.text-adopted {
    color: #5954F9;
}


.text-donate {
    color: #277ED6;
}

.text-requested {
    color: #BD305D;
}

.text-pending {
    color: var(--text-primary-theme);
}

.text-inProgress {
    color: #28BCBC;
}

.text-deliver {
    color: #13D805;
}

.bg-requested {
    background-color: #BD305D;
    color: #fff;
}

.bg-donate {
    background-color: #277ED6;
    color: #fff;
}


/* profile  */

.profile-image {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50px;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-profile-image {
    position: absolute;
    right: 44%;
    top: 63%;
    background-color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f3f3f3;
    border-radius: 50px;
    cursor: pointer;
}

/* default pages  */

.page-banner {
    width: 100%;
    height: 333px;
    overflow: hidden;
    border: 6px solid #fff;
}

.page-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notification-image {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50px;
}

.notification-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-light-orange {
    background-color: #FEEBDB;
}

.bg-light-orange .date-time-box {
    color: var(--text-primary-theme);
}


.pop-up-content .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}


.pop-up-content .rating>input {
    display: none;
}

.pop-up-content .rating>label {
    position: relative;
    width: 1.1em;
    font-size: 24px;
    color: #FFD700;
    cursor: pointer;
}

.pop-up-content .rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.pop-up-content .rating>label:hover:before,
.pop-up-content .rating>label:hover~label:before {
    opacity: 1 !important;
}

.pop-up-content .rating>input:checked~label:before {
    opacity: 1;
}

.pop-up-content .rating:hover>input:checked~label:before {
    opacity: 0.4;
}



.link-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
}

.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 200px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}

.rangeValue {
	width: 30px;
}

.output {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.output.outputTwo {
	left: 100%;
}


input[type=range] {
  -webkit-appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  border: none;
  border-radius: 3px;
  background: transparent;
}

input[type=range]::-ms-track {
  height: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]:focus {
  outline: none;
}

.full-range,
.incl-range {
	width: 100%;
	height: 5px;
	left: 0;
	top: 21px;
	position: absolute;
	background: #DDD;
}

.incl-range {
	background: var(--text-primary-theme)
}

#carFilter .card-header {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}

#carFilter >.card {
    overflow: hidden;
    border-left: none;
    border-right: none;
    background-color: transparent;
    border-radius: 0;
}

button[aria-expanded="true"]::after {
    content: '\f068';
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
}

button[aria-expanded="false"]::after {
    content: '\f067';
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
}

#carFilter .card-header button {
    padding: 0;
}

#carFilter .card-body {
    padding: 0px 0 0 0;
}

.car-category ul {
    list-style: none;
    padding: 0;
    line-height: 35px;
}



.car-category ul li a {
    color: #000;
}

.used-car-listing .product-listing-image img {
    height: 175px;
}

/* .thubnail-slide .slick-list {
    height: 395px !important;
} */
/* for mobile  */

/*====================================
  | New Developer Css Starts Here  |
=====================================*/

/*===================================
    Authentication Css Starts Here
===================================== */
.authWrapper {
    background: url('../images/slide-1.png') no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12rem 1rem;
    position: relative;
    background-size: cover;
    min-height: 100vh;
}

.formWrap {
    padding: 30px 45px;
    border-radius: 10px;
    z-index: 1024;
    position: relative;
    background: transparent;
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(45px);
    --webkit-backdrop-filter:
        blur(45px);
    background-color: rgba(0, 0, 0, 0.11);
    color: var(--white);
}

.auth_body_side {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
}

.top_side_png {
    position: absolute;
    right: -40px;
    top: 10px;
    width: 15%;
}

.logo_wrapper {
    width: 150px;
    margin: 0px auto 10px;
}

.leftImgWrapper {
    position: relative;
    text-align: center;
    margin-top: 40px;
}

.passwordWrapper .not_btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    background: transparent;
}

.passwordWrapper .not_btn:focus {
    background: transparent;
    border: none;
    outline: none;
}

.passDisplay i {
    color: var(--white);
}

.primary-inputs {
    padding: 13px 20px;
    outline: none;
    border: 1px solid var(--white);
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    color: var(--white);
}

.primary-inputs::placeholder {
    color: var(--white)
}

.secInp {
    background: #fff;
    border: 1px solid rgba(206, 206, 206, 0.3);
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.06));
    color: #000;
}

.secInp::placeholder {
    color: var(--black)
}


.disableInputs {
    border: none;
    /* padding: 10px 0; */
    background-color: transparent;
}

.primiry-link {
    color: var(--primColor) !important;
}

.input-type-code {
    width: 100%;
    height: 115px;
    margin-right: 10px;
    outline: none;
    border-radius: 40px;
    border: 1px solid var(--gray);
    font-size: 22px;
    color: var(--gray);
    text-align: center;
    font-weight: bold;
    background-color: #F9F9F9;
}

section.authentication-wrapper {
    overflow-x: hidden;
}

.img_wrapper {
    width: 100%;
    height: 200px;
}

.img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type='date'],
select {
    cursor: pointer;
}


/*===================================
    Buttons Css Starts Here
===================================== */
.sec-btn,
.main-btn {
    outline: none;
    border: none;
    color: var(--white) !important;
    padding: 15px 27px;
    border-radius: 0;
    font-size: 15px;
    font-weight: 500;
    min-width: 190px;
    transition: 0.3s ease-in-out;
    display: inline-block;
    text-align: center;
    font-family: 'euclid';
}

.main-btn {
    background: linear-gradient(#c90000 0%, #c90000 100%);
}

.sec-btn {
    background-color: var(--primColor);
}

.sec-transparent {
    background-color: transparent !important;
    color: var(--lightBlack) !important;
    border: 1px solid var(--lightBlack);
}

.main-btn:hover {
    color: var(--white);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background: linear-gradient(#5d3232 0%, #c90000 100%);
}

.sec-btn:hover {
    color: var(--white);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background: linear-gradient(#5d3232 0%, #c90000 100%);
}

.sec-transparent:hover {
    background-color: var(--primColor) !important;
    color: var(--white) !important;
    border: 1px solid var(--primColor) !important;
}

.AddMore {
    background-color: var(--primColor);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: var(--white);
    font-size: 27px;
    line-height: 20px;
}

.btnRed {
    background-color: var(--red);
}

.btnGreen {
    background-color: var(--green);
}

.cur_pointer {
    cursor: pointer;
}

.primColor {
    color: var(--text-primary-theme);
}

form a {
    color: #fff !important;
}

.pop-up-content img {
    width: 110px;
    height: auto;
    border-radius: 100%;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.pop-up-content {
    padding: 40px 10px;
}

.listingCard {
    background: #fff;
    border: 1px solid rgba(206, 206, 206, 0.3);
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.06));
    padding: 10px;
}

.list-view .row>[class*='col-'] {
    max-width: 100%;
    flex: 0 0 100%;
}

.list-view .card {
    flex-direction: row;
}

.listing-title h5 {
    font-size: 15px;
}

@media (max-width: 575.98px) {
    .list-view .card {
        flex-direction: column;
    }
}

.list-view .card>.card-img-top {
    width: auto;
}

.list-view .card .card-body {
    display: inline-block;
}

.serachFiled {
    border-radius: 0 !important;
    border: 1px solid rgba(206, 206, 206, 0.3) !important;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.06)) !important;
}

.list-view .listingCard {
    display: flex;
    width: 100%;
}

.list-view .listingCard .img_wrapper {
    width: 350px;
    position: relative;
    margin-right: 30px;
}

.addWhishlist {
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--text-primary-theme);
    background-color: #fff !important;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 20px;
}

.notBtn {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none !important;
}

.featureList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.featureList li {
    margin: 5px 10px;
    position: relative;
}

.featureList li:before {
    content: '';
    height: 90%;
    width: 2px;
    background-color: #70707080;
    right: -10px;
    position: absolute;
}

.featureList li:last-child:before {
    display: none;
}

.contactBtn {
    background: rgba(223, 255, 212, 0.38);
    padding: 0.2rem 1rem;
    font-size: 20px;
    color: #3AB210;
    width: 55px;
    height: 40px;
}

.secTitle {
    font-family: 'Qanelas';
    font-size: 20px;
}

.fw-bold {
    font-weight: bold;
}

.cardBody {
    width: 100%;
}

/*
==============================
===========| End |============
============================== 
*/


/* Product Details Start Here */
.features_wrap {
    border: 1px solid #EAEAEA;
    /* padding: 30px 40px; */
}

.features_box {
    padding: 10px 5px;
    transition: 0.8s ease-in-out;
}

.features_box p {
    transition: 0.8s ease-in-out;
}

.features_box:hover {
    background-color: #c50011;
}

.features_box:hover p,
.features_box:hover img {
    filter: brightness(15);
}

.features_wrap .cutom_border {
    border-right: 1px solid #EAEAEA;
}

.features_wrap .cutom_border:last-child {
    border-right: none;
}

.descBox {
    display: flex;
    align-items: center;
    font-family: 'euclid';
    color: #89898A;
    font-weight: 500;
}

.descBox img {
    margin-right: 20px;
    width: 25px;
    height: 25px;
}

.features_box img {
    height: 35px;
    margin-bottom: 10px;
    width: 35px;
    object-fit: contain;
    object-position: center;
    transition: 0.8s ease-in-out;
}

.slick-prev:before,
.slick-next:before {
    content: '' !important;
}

.sliderIcons {
    color: var(--white) !important;
    font-size: 45px;
}

.product-slider .slick-prev {
    left: 20px !important;
    z-index: 99;
}

.product-slider .slick-next {
    right: 30px !important;
    z-index: 99;
}

.slider-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
}

.item-sliderNav img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 0;
    object-position: center;
    margin: 0 auto;
    cursor: pointer;
}

.item.item-sliderNav {
    margin: 0px 10px;
}















@media(max-width: 799px) {
    .mainBanner {
        background-size: cover;
    }

    .front-image {
        position: absolute;
        left: 105px;
    }

    .appImage img {
        max-width: 100%;
    }
}

@media(min-width: 1333px) {
    header .container {
        max-width: 1320px;
    }
}

@media(max-width: 1400px) {
    .auth-bg {
        height: unset !important;
        padding: 130px 0 !important;
        background-size: cover;
    }
}

@media(max-width: 1300px) {
    .slide-heading h3 {
        font-size: 75px;
    }

    .default .navbar-nav li>a,
    .default .navbar-nav {
        font-size: 12px;
    }

    .banners .slick-arrow {
        bottom: 15px;
        font-size: 12px
    }

    .slide-content {
        color: #fff;
        padding: 25px 0;
        font-size: 12px;
    }

    .slide-content h4 {
        font-size: 20px;
    }

    a.navbar-brand img {
        width: 65px !important;
    }

    .previous-image {
        height: 200px;
    }

}

@media(max-width: 991px) {
    .list-view .listingCard .img_wrapper {
        width: 100%;
    }

    .list-view .listingCard {
        display: block;
    }
}